*{
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
    
}

.holder-navbar{
    padding-top: 15px;
    background-color: #0075FF;
}

a.nav-link{
    font-size: 14px !important;
    color: #ffffff;
}

.b-nav, .t-list, .hero, .service{
    width: 1200px;
}

.services, .service{
    background-color: #f6fbff;
    height: 820px;
}




a.h-nav{
    font-size: 12px;
    color: #ffffff;
}

.btn-radius{
    border-radius: 50px !important;
    border: 1px solid #ffffff !important;
    color: #ffffff !important;
}

/* hero */

.hero-outside{
    padding-top: 109px;
    padding-bottom: 68px;
    background-color: #0075FF;
}

.hero-title{
    font-size: 40px;
    width: 461px;
    height: 110px;
    line-height: 55px;
    font-weight: 800;
    font-style: normal;
    color: #ffffff;
}

.hero-description{
    width: 461px;
    height: 75px;
    color: #ffffff;
    font-size: 12px;
    margin-bottom: 34px;
    line-height: 24px;
    letter-spacing: 0.05rem;
}

.countdown-title{
    font-size: 13px;
    color: #ffffff;

}

.countdown-counter{
    width: 461px;
    height: 45px;
}

.item-title{
    color: #ffffff;
    font-size: 12px;
    text-align: center;
}

.item-time{
    color: #ffffff;
    font-size: 45px;
}



.btn-choose{
    color: #ffffff! important;
    background-color: #fb8c00 !important;
    border: none;
    padding: 12px 35px;
    border-radius: 5px;
    font-size: 15px;
    text-transform: uppercase;
    margin-top: 50px;
    width: 195px;
    height: 46px;
    font-weight: bold !important;

}


.countdown-counter-item{
    position: relative;
}

.countdown-counter-item:not(:last-child) {
    margin-right: 50px;
}
.countdown-counter-item:not(:last-child):after {
    position: absolute;
    content: ":";
    font-size: 45px;
    color: #fff;
    top: 80%;
    right: -30%;
    transform: translate(80%, -50%);
}


.hero-img{
    top: -100px;
}

/* service */

.services{
    padding-top: 70px;
    padding-bottom: 65px;
}

.service-title{
    background-color: #f6fbff;
    text-align: center;
    margin-bottom: 55px;
    font-size: 33px;
    font-weight: 600;
    
}

.img-serv{
    width: 92px;
    height: 92px;
    background-color: #ffffff;
    
}

.text-cust-card, .title-card, .text-card, .price-card, .start-card{
    background-color: #ffffff;
}

.title-card{
    font-size: 18px;
    font-weight: bold;
}

.text-card{
    font-size: 14px;
    margin-bottom: 24px;
}

.start-card{
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    opacity: 0.8;
}
.price-card{
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    margin-top: -10px;
}

div.col-3{
    background-color: #f6fbff;
}

div.card{
    padding: 55px 24px;
}

img.card-img-top.img-serv, div.card-body.text-cust-card{
    width: 220px;
}



.card-custom{
    border-radius: 10px !important;
    height: 394px;
    width: 260px;
    box-shadow: 0 6px 20px rgba(17,26,104,.2);
}

.card-down{
    border-radius: 10px !important;
    box-shadow: 0 6px 20px rgba(17,26,104,.2);
    background-color: #f6fbff;
}

.color-custom1{
    background-color: #f6fbff;
}

.color-custom{
    background-color: #ffffff;
}


/* prioritas */

.prio-cust{
    width: 1200px;
    padding-left: 10px !important ;
    padding-right: 10px !important ;
    background-color: #ffffff;

}

.priority-title{
    margin-bottom: 90px;
    font-size: 33px;
    text-align: center;
    background-color: #ffffff;
    font-weight: bold;
    color: #3a4166;
}

.row-title{
    bottom: -800px;
    height: 200px;
    padding-top: 80px;
}


.kotak{
    border: 2px black solid;
    height: 150px;  
}


.kotak-besar{
    border: 2px black solid;
    height: 1500px;
    background-color: #F6FBFF;
}






.prio-img{
    width: 64px;
    height: 64px;
}

.prio-title{
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    line-height: 1.2;
    color: #3a4166; 
}

.prio-desc{
    font-size: 16px;
    opacity: 0.7;
    color: #3a4166;
    font-weight: 400;
    line-height: 1.5;
}

.btn-prio{
    margin-top: 30px;
    margin-left: 100px;
    border: 1px solid;
    width: 236px;
    height: 46px;
    border-radius: 10px;
    padding-top: 10px;
    text-align: center;
    background-color: #fb8c00;
    color: #fff;
    font-weight: bold;
}

.img-server{
    margin-left: 80px;
}

.img-graphic{
    margin-top: -90px;
}

.img-imufiy{
    height: 130px;
    width: 130px;
    margin-top: -630px;
    z-index: 1;
    margin-right: 400px;
}

.img-litespeed{
    height: 130px;
    width: 130px;
    z-index: 2;
    margin-left: 480px;
    margin-top: -650px;
}


/* saving */

.col-bag{
    background-color: #F6FBFF;;
}

.saving-img1{
    z-index: 1;
}
.saving-img2{
    z-index: 2;
    margin-top: -110px;
    margin-left: 70px;
    
}
.saving-img3{
    z-index: 3;
    margin-top: -400px;
    margin-left: -300px;
}
.saving-img4{
    z-index: 4;
    margin-top: -400px;
    margin-left: 340px;
}
.saving-img5{
    z-index: 5;
    margin-top: -800px;
}
.saving-img6{
    z-index: 6;
    margin-left: 370px;
    margin-top: -200px;
}


/* testi */

.col-test{
    background-color: #ffffff;
}

.testi-title{
    margin-bottom: 90px;
    font-size: 33px;
    text-align: left;
    font-weight: bold;
    color: #3a4166;
    margin-bottom: 40px;
    margin-top: 80px;
}



.icon-play{
    width: 100px;
    height: 100px;
    margin-top: -200px;
    margin-left: 150px;
}

.icon-custom{
    height: 74px ;
    width: 74px ;
    border: #007AFF 1px solid;
    background-color: #007AFF;
    border-radius: 50%;
    padding: 18px;

    
}

.des-testi{
    width: 360px;
    margin-top: 150px;
    color: black;
}

/* paket */

.paket-col{
    background-color: #F6FBFF;
    
}
.kontainer-paket{
    margin-top: 80px;
    width: 1250px !important;
    padding-bottom: 80px;
    
}

.paket-title{
    font-size: 33px;
    margin-bottom: 140px;
    text-align: center;
    color: #3a4166;
    font-weight: bold;
    line-height: 1.2;
    padding-top: 80px;
}

.best-seller-title-container{
    border: 1px solid #007aff;
    border-radius: 8px;
    background-color: #007AFF;
    color: #ffffff;
    width: 270px;
    height: 58px;
    text-align: center;
    padding: 14px;
    margin-top: -80px;
    margin-bottom: 30px;
    margin-left: 630px;
}

.best-seller-title{
    font-size: 20px;
    font-weight: bold;
}

#segitiga-bestseller{
    margin-top: -10px;
    margin-left: 100px;
    width: 0;
    height: 0;
    border-top: 25px solid #007aff;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
}


.card-custom{
margin: 0 !important;
padding: 0 !important;

}

.card-col{
    height: 758px;
    width: 271px;
    border: #ffffff solid 0.5px;
    background-color: #ffffff;
    box-shadow: 0 6px 20px rgb(17, 26, 104, 0.15);
    padding: 0px !important;
    margin: 0px 20px;
    border-radius: 8px 8px 8px 8px;
}

.paket-label-card{
    width: 271px;
    height: 51px;
    font-size: 18px;
    color: #fff;
    background-color: #00BFA5;
    padding: 12px 0px;
    font-weight: bolder;
    text-align: center;
    border-radius: 10px 10px 0px 0px;
    border: 1px solid #00BFA5;
}


.paket-title-card{
    font-size: 30px;
    margin-bottom: 40px;
    text-align: center;
    font-weight: bold;
    line-height: 1.2;
    color: black;
    padding-top: 30px;
}

.paket-price-card{
    text-align: center;
    font-size: 32px;
    color: #007AFF;
    margin: 0px 0px 37px;
    padding: 0px 0px 0px 0px;
    font-weight: 500;
}

.price-bln{
    font-size: 14px;
    color: #3a4166;
    opacity: .7;

}

hr{
    width: 90%;
    margin-left: 12px;
    height: 1px;
    background: #e5e5e5;
    margin-bottom: 50px !important;
}

.btn-paket{
    border: 1px solid #fb8c00;
    background: #fb8c00;
    font-size: 15px;
    padding: 12px 35px;
    width: 195px;
    height: 46px;
    color: #fff;
    font-weight: bold;
    border-radius: 8px;
}

.paket-desc{
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    font-size: 12px;
    width: 220px;
    margin-bottom: 30px;
}


.fitur-bungkus{
    padding-left: 13px;
    padding-right: 13px;
    width: 244px;
    padding-bottom: 7px;
}

/* client */

.klien{
    margin-top: 80px;
    margin-bottom: 120px;
}
.kontainer-client{
    width: 1150px;
    height: 198px;
    margin: auto;
    
}

.title-klien{
    margin: auto;
    font-size: 33px;
    color: #3a4166;
    font-weight: bold;
}

.klien-logo{
    width: 218px;
    height: 115px;
    
}

.img-klien{
    width: 166px;
    height: 110px;
    
}

/* faq */
.faq-kotak-besar{
    margin-top: 80px;
    margin-bottom: 120px;
}
.faq-container{
    width: 1150px;
    height: 198px;
    margin: auto;
    
    
}

.title-faq{
    font-size: 33px;
    padding: 100px 0px;
}



.faqfaq>a.collapsed::after{
    content: url(img/remove-black-18dp.svg);
    position: absolute;
    right: 380px;
    margin-top: -40px;
}
.faqfaq>a::after{
    content: url(img/add-black-18dp.svg);
    position: absolute;
    right: 380px;
    margin-top: -40px;
}

.garis{
    width: 1100px;
    
}

.judul-faq{
    font-size: 18px;
    color: #3a4166;
}

/* guarantee */

.guarantee{
    display: block;
    margin-top: 1000px;
    margin-bottom: 120px;
    padding-bottom: 80px;
    padding-top: 80px;
    background-color: #F6FBFF;
    
}

.col-guarante-desc{
width: 599px;
}

.title-guarante{
    font-size: 33px;
    text-align: left;
    font-weight: 600;
    line-height: 1.2;
}

.desc-guarante{
    margin: 30px 0;
    font-size: 18px;
    opacity: .7;
    line-height: 2em;
    text-align: left;
    text-align: justify;
}

.btn-guarante{
    width: 205px;
    height: 46px;
    border: #fb8c00 1px solid;
    color: #fff;
    background-color: #fb8c00;
    border-radius: 5px;
    padding: 12px 35px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
}

/* payment */

.list-payment{
    border: 2px #ffffff solid !important;
    filter: grayscale(1);
    opacity: 0.4;
    width: auto;
    margin: 10px 0;
}

.title-payment{
    font-size: 18px;
    margin-bottom: 40px;
    font-weight: 700;
}

.row-payment{
    margin-bottom: 40px;
}

/* success online */

.sucess-online{
    background-color: #0873FF ;
    padding: 80px 0px;
    height: 228px;
    border: 1px solid black;
}

.text-sukses{
    font-size: 33px;
    font-weight: 700;
    color: #fff;
    text-align: left !important;
    margin-left: auto !important;
    max-width: 524px;
}

.sukses-btn{
    margin-top: 20px !important;
}

/* footer */
.footer-accs{
    padding-top: 100px;
    padding-bottom: 24px;
    background-color: #333;
    color: #c4c4cc;

}

.kotainer-footer{
    height: 800px;
    width: 1180px;
    margin: auto;
}

.title-footer{
    margin-bottom: 40px;
    font-size: 20px;
    font-weight: 700;
}

.footer-content{
    line-height: 2.02em;
    color: #fff;
}


.row-footer{
    margin: 0px -15px;

}

.margin-li-footdesc{
    padding: 0 40px;

}

.footer-menu-list{
    color: #c4c4cc;
    line-height: 1.8;
}

.footer-menu{
    color: #c4c4cc;
    
}

a:hover {
    background-color: rgba(238, 235, 235, 0.37);
}

.input-email{
    border: none;
    border-bottom: 1px solid#fff;
    outline: none;
    background: 0 0;
    color: #fff;
    font-size: 14px;
    padding: 16px 0;
}

.btn-wrap{
    margin-top: 25px;
    text-align: right;
}

.btn-bawah{
    font-size: 12px;
    background: #fb8c00;
    padding: 10px 22px;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
}

.img-sosmed{
    width: 48px;
    height: 48px;
    margin-right: 30px;
}

.col-copyright{
    width: 658px;
}

.text-copyright{
    font-size: 12px;
}

.col-policy{
    float: right;
    margin-top: -55px;
}

.pol-item{
    color: #c4c4cc;
    font-size: 12px;
}