*{
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
    
}

.holder-navbar{
    padding-top: 15px;
    background-color: #0075FF;
}

a.nav-link{
    font-size: 14px !important;
    color: #ffffff;
}

.b-nav, .t-list, .hero, .service{
    width: 1200px;
}

.services, .service{
    background-color: #f6fbff;
    height: 860px;
}




a.h-nav{
    font-size: 12px;
    color: #ffffff;
}


.btn-nav{
    border-radius: 50px;
    padding: 5px 22px 5px;
    width: 91px;
    height: 36px;
    border: 1px solid #ffffff; 
    color: #ffffff ;
    font-weight: 400;
    line-height: 1.5;
}

/* hero */

.hero-outside{
    padding-top: 109px;
    padding-bottom: 68px;
    background-color: #0075FF;
}

.hero-title{
    font-size: 40px;
    width: 461px;
    height: 110px;
    line-height: 55px;
    font-weight: 800;
    font-style: normal;
    color: #ffffff;
}

.hero-description{
    width: 461px;
    height: 75px;
    color: #ffffff;
    font-size: 12px;
    margin-bottom: 34px;
    line-height: 24px;
    letter-spacing: 0.05rem;
}

.countdown-title{
    font-size: 13px;
    color: #ffffff;

}

.countdown-counter{
    width: 461px;
    height: 45px;
}

.item-title{
    color: #ffffff;
    font-size: 12px;
    text-align: center;
}

.item-time{
    color: #ffffff;
    font-size: 45px;
}



.btn-choose{
    color: #ffffff! important;
    background-color: #fb8c00 !important;
    border: none;
    padding: 12px 35px;
    border-radius: 5px;
    font-size: 15px;
    text-transform: uppercase;
    margin-top: 50px;
    width: 195px;
    height: 46px;
    font-weight: bold !important;

}


.countdown-counter-item{
    position: relative;
}

.countdown-counter-item:not(:last-child) {
    margin-right: 50px;
}
.countdown-counter-item:not(:last-child):after {
    position: absolute;
    content: ":";
    font-size: 45px;
    color: #fff;
    top: 80%;
    right: -30%;
    transform: translate(80%, -50%);
}


.hero-img{
    top: -100px;
}

/* service */

.services{
    padding-top: 70px;
    padding-bottom: 65px;
}

.service-title{
    background-color: #f6fbff;
    text-align: center;
    margin-bottom: 55px;
    font-size: 33px;
    font-weight: 600;
    
}



.text-cust-card, .title-card, .text-card, .price-card, .start-card{
    background-color: #ffffff;
}

.title-card{
    font-size: 18px;
    font-weight: bold;
}

.text-card{
    font-size: 14px;
    margin-bottom: 24px;
}

.start-card{
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    opacity: 0.8;
}
.price-card{
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    margin-top: -10px;
}

div.col-3{
    background-color: #f6fbff;
}

div.card{
    padding: 55px 24px;
}

img.card-img-top.img-serv, div.card-body.text-cust-card{
    width: 220px;
}



.card-custom{
    height: 394px;
    width: 260px;
    box-shadow: 0 6px 20px rgba(17,26,104,.2);
    border-radius: 10px !important;
}

.card-down{
    border-radius: 10px !important;
    box-shadow: 0 6px 20px rgba(17,26,104,.2);
    background-color: #f6fbff;
}

.color-custom1{
    background-color: #f6fbff;
}

.color-custom{
    background-color: #ffffff;
}


/* prioritas */

.prio-cust{
    width: 1200px;
    padding-left: 10px !important ;
    padding-right: 10px !important ;
    background-color: #ffffff;

}

.priority-title{
    margin-bottom: 90px;
    font-size: 33px;
    text-align: center;
    background-color: #ffffff;
    font-weight: bold;
    color: #3a4166;
}

.row-title{
    bottom: -800px;
    height: 200px;
    padding-top: 80px;
}

.prio-img{
    width: 64px;
    height: 64px;
}

.prio-title{
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    line-height: 1.2;
    color: #3a4166; 
}

.prio-desc{
    font-size: 16px;
    opacity: 0.7;
    color: #3a4166;
    font-weight: 400;
    line-height: 1.5;
}

.btn-prio{
    margin-top: 30px;
    margin-left: 100px;
    border: 1px solid;
    width: 236px;
    height: 46px;
    border-radius: 10px;
    padding-top: 10px;
    text-align: center;
    background-color: #fb8c00;
    color: #fff;
    font-weight: bold;
}

.img-server{
    margin-left: 80px;
}

.img-graphic{
    margin-top: -90px;
}

.img-imufiy{
    height: 130px;
    width: 130px;
    margin-top: -630px;
    z-index: 1;
    margin-right: 400px;
}

.img-litespeed{
    height: 130px;
    width: 130px;
    z-index: 2;
    margin-left: 480px;
    margin-top: -650px;
}


/* saving */

.col-bag{
    background-color: #F6FBFF;;
}

.saving-img1{
    z-index: 1;
}
.saving-img2{
    z-index: 2;
    margin-top: -110px;
    margin-left: 70px;
    
}
.saving-img3{
    z-index: 3;
    margin-top: -400px;
    margin-left: -300px;
}
.saving-img4{
    z-index: 4;
    margin-top: -400px;
    margin-left: 340px;
}
.saving-img5{
    z-index: 5;
    margin-top: -700px;
}
.saving-img6{
    z-index: 6;
    margin-left: 370px;
    margin-top: -200px;
}


/* testi */

.col-test{
    background-color: #ffffff;
}

.testi-title{
    margin-bottom: 90px;
    font-size: 33px;
    text-align: left;
    font-weight: bold;
    color: #3a4166;
    margin-bottom: 40px;
    margin-top: 80px;
}



.icon-play{
    width: 100px;
    height: 100px;
    margin-top: -200px;
    margin-left: 150px;
}

.icon-custom{
    height: 74px ;
    width: 74px ;
    border: #007AFF 1px solid;
    background-color: #007AFF;
    border-radius: 50%;
    padding: 18px;

    
}

.des-testi{
    width: 360px;
    margin-top: 150px;
    color: black;
}

/* paket */

.paket-col{
    background-color: #F6FBFF;
    
}
.kontainer-paket{
    margin-top: 80px;
    width: 1250px !important;
    padding-bottom: 80px;
    
}

.paket-title{
    font-size: 33px;
    margin-bottom: 140px;
    text-align: center;
    color: #3a4166;
    font-weight: bold;
    line-height: 1.2;
    padding-top: 80px;
}

.best-seller-title-container{
    border: 1px solid #007aff;
    border-radius: 8px;
    background-color: #007AFF;
    color: #ffffff;
    width: 270px;
    height: 58px;
    text-align: center;
    padding: 14px;
    margin-top: -80px;
    margin-bottom: 30px;
    margin-left: 630px;
}

.best-seller-title{
    font-size: 20px;
    font-weight: bold;
}

#segitiga-bestseller{
    margin-top: -10px;
    margin-left: 100px;
    width: 0;
    height: 0;
    border-top: 25px solid #007aff;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
}


.card-custom{
margin: 0 !important;
padding: 0 !important;

}

.card-col{
    height: 758px;
    width: 271px;
    border: #ffffff solid 0.5px;
    background-color: #ffffff;
    box-shadow: 0 6px 20px rgb(17, 26, 104, 0.15);
    padding: 0px !important;
    margin: 0px 20px;
    border-radius: 8px 8px 8px 8px;
}

.paket-label-card{
    width: 271px;
    height: 51px;
    font-size: 18px;
    color: #fff;
    background-color: #00BFA5;
    padding: 12px 0px;
    font-weight: bolder;
    text-align: center;
    border-radius: 10px 10px 0px 0px;
    border: 1px solid #00BFA5;
}


.paket-title-card{
    font-size: 30px;
    margin-bottom: 40px;
    text-align: center;
    font-weight: bold;
    line-height: 1.2;
    color: black;
    padding-top: 30px;
}

.paket-price-card{
    text-align: center;
    font-size: 32px;
    color: #007AFF;
    margin: 0px 0px 37px;
    padding: 0px 0px 0px 0px;
    font-weight: 500;
}

.price-bln{
    font-size: 14px;
    color: #3a4166;
    opacity: .7;

}

hr{
    width: 90%;
    margin-left: 12px;
    height: 1px;
    background: #e5e5e5;
    margin-bottom: 50px !important;
}

.btn-paket{
    border: 1px solid #fb8c00;
    background: #fb8c00;
    font-size: 15px;
    padding: 12px 35px;
    width: 195px;
    height: 46px;
    color: #fff;
    font-weight: bold;
    border-radius: 8px;
}

.paket-desc{
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    font-size: 12px;
    width: 220px;
    margin-bottom: 30px;
}


.fitur-bungkus{
    padding-left: 13px;
    padding-right: 13px;
    width: 244px;
    padding-bottom: 7px;
}

/* client */

.klien{
    margin-top: 80px;
    margin-bottom: 120px;
}
.kontainer-client{
    width: 1150px;
    height: 198px;
    margin: auto;
    
}

.title-klien{
    margin: auto;
    font-size: 33px;
    color: #3a4166;
    font-weight: bold;
}

.klien-logo{
    width: 218px;
    height: 115px;
    
}

.img-klien{
    width: 166px;
    height: 110px;
    
}

/* faq */
.faq-kotak-besar{
    margin-top: 80px;
    margin-bottom: 120px;
}
.faq-container{
    width: 1150px;
    height: 198px;
    margin: auto;
    
    
}

.title-faq{
    font-size: 33px;
    padding: 100px 0px;
}



.faqfaq>a.collapsed::after{
    content: url(img/remove-black-18dp.svg);
    position: absolute;
    right: 380px;
    margin-top: -40px;
}
.faqfaq>a::after{
    content: url(img/add-black-18dp.svg);
    position: absolute;
    right: 380px;
    margin-top: -40px;
}



/* guarantee */

.guarantee{
    display: block;
    margin-top: 1000px;
    margin-bottom: 120px;
    padding-bottom: 80px;
    padding-top: 80px;
    background-color: #F6FBFF;
    
}

.col-guarante-desc{
width: 599px;
}

.title-guarante{
    font-size: 33px;
    text-align: left;
    font-weight: 600;
    line-height: 1.2;
}

.desc-guarante{
    margin: 30px 0;
    font-size: 18px;
    opacity: .7;
    line-height: 2em;
    text-align: left;
    text-align: justify;
}

.btn-guarante{
    width: 205px;
    height: 46px;
    border: #fb8c00 1px solid;
    color: #fff;
    background-color: #fb8c00;
    border-radius: 5px;
    padding: 12px 35px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
}

/* payment */

.list-payment{
    border: 2px #ffffff solid !important;
    filter: grayscale(1);
    opacity: 0.4;
    width: auto;
    margin: 10px 0;
}

.title-payment{
    font-size: 18px;
    margin-bottom: 40px;
    font-weight: 700;
}

.row-payment{
    margin-bottom: 40px;
}

/* success online */

.sucess-online{
    background-color: #0873FF ;
    padding: 80px 0px;
    height: 228px;
    border: 1px solid black;
}

.text-sukses{
    font-size: 33px;
    font-weight: 700;
    color: #fff;
    text-align: left !important;
    margin-left: auto !important;
    max-width: 524px;
}

.sukses-btn{
    margin-top: 20px !important;
}

/* footer */
.footer-accs{
    padding-top: 100px;
    padding-bottom: 24px;
    background-color: #333;
    color: #c4c4cc;

}

.kotainer-footer{
    height: 800px;
    width: 1180px;
    margin: auto;
}

.title-footer{
    margin-bottom: 40px;
    font-size: 20px;
    font-weight: 700;
}

.footer-content{
    line-height: 2.02em;
    color: #fff;
}


.row-footer{
    margin: 0px -15px;

}

.margin-li-footdesc{
    padding: 0 40px;

}

.footer-menu-list{
    color: #c4c4cc;
    line-height: 1.8;
}

.footer-menu{
    color: #c4c4cc;
    
}

a:hover {
    background-color: rgba(238, 235, 235, 0.37);
}

.input-email{
    border: none;
    border-bottom: 1px solid#fff;
    outline: none;
    background: 0 0;
    color: #fff;
    font-size: 14px;
    padding: 16px 0;
}

.btn-wrap{
    margin-top: 25px;
    text-align: right;
}

.btn-bawah{
    font-size: 12px;
    background: #fb8c00;
    padding: 10px 22px;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
}

.img-sosmed{
    width: 48px;
    height: 48px;
    margin-right: 30px;
}

.col-copyright{
    width: 658px;
}

.text-copyright{
    font-size: 12px;
}

.col-policy{
    float: right;
    margin-top: -55px;
}

.pol-item{
    color: #c4c4cc;
    font-size: 12px;
}


/* revisi */
.card-1{
    margin-right: 20px;
    width: 260px;
    height: 394px;
    margin-bottom: 40px;
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: 0 6px 20px rgba(17,26,104,.2);
}

.img-serv{
    width: 92px;
    height: 92px;
    background-color: #ffffff;
    margin-bottom: 40px;
    margin-top: 60px;
    margin-left: 60px;
    
}

.card-2-3{
    margin-right: 20px;
    margin-left: 20px;
    width: 280px;
    height: 394px;
    margin-bottom: 40px;
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: 0 6px 20px rgba(17,26,104,.2);
}

.card-4{
    margin-left: 20px;
    width: 260px;
    height: 394px;
    margin-bottom: 40px;
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: 0 6px 20px rgba(17,26,104,.2);
}


/* domain css */
/* hero-domain */

.hero-domain{
    background-color: #0075FF;
    height: 487px;
}

.title-hero-domain{
    font-size: 50px;
    line-height: 50px;
    font-weight: 700;
    color: #fff;
    padding-top: 120px;
}

.title-hero-domain-1{
    margin-top: 40px;
    font-size: 20px;
    color: #fff;
    line-height: 177.3%;
}

.form-hero-domain{
    margin-top: 60px;
    
    border: 1px solid red;
    width: 1000px;
}

.domain-input-hero{
    height: 50px;
    width: 538px;
    font-size: 14px;
    color: rgb(58, 65, 102, .7 );
    font-weight: 400;
    line-height: 1.5;
    padding: 16px;
    border-radius: 4px;
    background: #fff;
    border: none;
    margin-right: 40px;


}

.bungkus-input-domain{
    padding: 0 200px;
}

.btn-size{
    height: 50px;
    background: #fff !important;
    color: rgb(58, 65, 102, .7 ) !important;
    border-radius: 4px;
    border: none;
    width: 134px;

}

.btn-hero-domain{
    height: 50px;
    width: 200px;
    border: #fb8c00 1px solid;
    border-radius: 4px;
    margin-left: 15px;
    background-color: #fb8c00;
    padding-top: 14px;
    text-align: center;
}

.btn-cek-domain{
    font-size: 16px;
    width: 100%;
    color: #fff;
    font-weight: 700;
}

.r-custom{
    margin-top: 10px;
}

.c-custom{
    padding: 0 150px !important;
}

.t-custom{
    color: #fff;
    font-size: 14px;
    line-height: 12px;
}

/* popular domain */
.popular-domain{
    height: 1100px;
    padding: 100px 0;
}

.title-page-domain{
    font-size: 33px;
    text-align: center;
    color: #3a4166;
    line-height: 1.2;
    font-weight: 600;
}

.desc-title-page-domain{
    margin-top: 30px;
    font-weight: 400;
    color: rgb(58, 65, 102, .7 );
    text-align: center;
    line-height: 177.3%;
}

.popular-card {
    margin: auto;
    width: 60%;
}

.title-card-domain{
    font-weight: 700;
    font-size: 34px;
    color: #007aff;
    padding: 30px 30px 0 30px;
}

.text-card-domain{
    font-size: 14px;
    margin-bottom: 24px;
    height: 48px;
    color: rgb(58, 65, 102, .7 );
    line-height: 160%;
}

.price-card-domain{
    font-size: 24px;
    font-weight: 700;
    margin-top: 40px;
}

.wrap-btn-popular{
    color: #3a4166;
    background-color: #fb8c00;
    height: 40px;
    width: 130px;
    margin-top: 45px;
    border-radius: 4px;
    text-align: center;
    padding: 8px 35px 12px 35px;

}

.btn-popular-card{
    font-size: 14px;
    color: #fff;
    border: none;
    padding: 35px 8px 35px 12px;
    font-weight: 600;
}


.card-1-domain{
    margin-right: 20px;
    width: 260px;
    height: 360px;
    margin-bottom: 40px;
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: 0 6px 20px rgba(17,26,104,.2);
}

.card-2-3-domain{
    margin-right: 20px;
    margin-left: 20px;
    width: 260px;
    height: 360px;
    margin-bottom: 40px;
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: 0 6px 20px rgba(17,26,104,.2);
}

.card-4-domain{
    margin-left: 20px;
    width: 260px;
    height: 360px;
    margin-bottom: 40px;
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: 0 6px 20px rgba(17,26,104,.2);
}

.domain-price{
    
    height: 1200px;
    padding: 100px 0;
    
}

.find-domain{
    width: 750px;
    padding-top: 20px;
}

.input-domain{
    height: 50px;
    border-radius: 4px;
    font-size: 14px;
    border: 1px solid #c4c4c4;
}

.kontainer-domain-tabel{
    height: 800px;
    width: 750px;
}

.col-thead-domain{
    background-color: #0C7AFF;
    color: #fff;
    font-size: 22px;
}

.tr-domain{
    height: 100px;
}


.bungkus-btn-domain{
    text-align: center;
    width: 172px;
    padding: 20px 24px;
    
}


.btn-tabel-domain{
    font-size: 12px;
    height: 32px;
    font-weight: 600;
    padding: 8px 30px;
    color: #fff;
    background: #fb8c00;
    border: none;
    border-radius: 4px;

}

/* tipsdomain */

.tips-domain{
    
    background-color: #F6FBFF;
    width: 100%;

}

.container-tips-domain{
    height: 1200px;
    width: 1150px;
    
    padding: 100px 0 80px 0;
}

.img-box-beli-domain{
    height: 147px;
    width: 40px !important;
    padding: 50px 0 !important;
    text-align: center;
    padding-left: 30px !important;
}

.font-desc-beli-domain{
    font-size: 14px;
    line-height: 200%;
    color: rgb(58, 65, 102, .7 );

}

.box-beli-domain{
    position: relative;
    z-index: 2;
    width: 410px;
    height:  147px;
    margin-top: 50px;
    margin-left: 48px !important;
    background-color: #fff;
    box-shadow:  0 6px 30px rgba(17,26,104,.1);
    border-radius: 8px;
}

.font-beli-domain{
    position: absolute;
    font-size: 100px;
    color: rgba(58,65,102,.1);
    font-weight: bold;
    z-index: 1;
}

.custom-btn-domain-bawah{
    text-align: center;
    margin-top: 80px;

}


.btn-cek-domain-now{
    font-size: 16px;
    height: 50px;
    width: 265px;
    color: #fff;
    background-color: #fb8c00;
    border: none;
    border-radius: 5px;
    padding: 12px 35px;
}



/* why-niagahoster */

.why-niaga{
    padding-top: 100px;
    
}

.container-why-niaga{
    
    height: 900px;
    width: 1150px;
}



.k-1{
    border: 1px black solid;
    height: 400px;
}


.k2{
    border: 1px red solid;
    height: 400px;
}

.img-article-whyniaga{
width: 64px;
height: 64px;
margin-bottom: 30px;
margin-top: 60px;
}

.title-article-whyniaga{
font-size: 18px;
line-height: 177%;
font-weight: bolder ;
color: #3a4166;
}

.desc-article-whyniaga{
margin-top: 20px;
font-size: 14px;
color: rgb(58, 65, 102, .7 );
}



/* FAQ-Domain */

.faq-domain{
    padding-top: 100px;
    
}

.container-faq-domain{
    
    height: 1500px;
    width: 1150px;
}

.faq-answer{
    line-height: 2em;
    font-size: 16px;
    opacity: .7;
    color:#3a4166;
}


/* for FAQ */


.garis{
    width: 1200px;
    
}

.judul-faq{
    font-size: 18px;
    color: #3a4166;
}

.accordion {
    background-color: #fff;
    color: #3a4166;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
    transition: 0.4s;
    font-weight: 700;
}

.active, .accordion:hover {
    background-color: #fff;
}

.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}